.footer {
  background: #222527;
  color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 5px solid white;
}
.social {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
}
.copyright {
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: lighter;
  text-shadow: -1px 1.2px 1px #000;
}
.email {
  display: inline-block;
  margin-right: 20px;
}
.phone {
  display: inline-block;
}

.symbol {
  display: inline-block;
  margin-right: 4px;
  font-size: 20px;
}
